#!/usr/bin/env bash

echo "starting kafka-manager..."
# Run your process in background

nohup {{ kafka_manager_dir }}/bin/kafka-manager -Dconfig.file={{ kafka_manager_dir }}/conf/application.conf -Dapplication.home={{ kafka_manager_dir }} >/dev/null 2>&1&

sleep 3s

echo "..."
echo "end nohup kafka-manager."

echo "end starting kafka-manager."

exit 0