[Unit]
Description=kafka-manager
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
SuccessExitStatus=143
ExecStart={ kafka_manager_dir }}/bin/kafka-manager-start.sh
ExecStop={{ kafka_manager_dir }}/bin/kafka-manager-stop.sh
User={{ kafka_manager_user }}
Group={{ kafka_manager_group }}

[Install]
WantedBy=multi-user.target
Alias=kafka-manager.service
